$back: #dde6f0;
$blue: #006ab3;
$black: #000000;
$black2: #1a1a1a;
$white: #ffffff;
$gray: #eeeeee;
$gray2: #e5e5e5;
$buy: #6288ac;

$font1: "ArialMT";
$font2: "Arial-BoldMT";
$font3: "MinionPro-Regular";
$font4: "SegoeUI";