.footer
    .container
        .wrapper
            .about
                p.h1 This Webpage Is
                p.h3 Designed By 
                img.logo(src="/ali-sayed/assets/images/logo.png")
                p.h4 Ali Sayed
                p.text2 Graphic Designer
            .form-footer
                p.h1 Say ‘Hello’
                    .form
                        form.form-name(action="form.php")
                        input.name(type="text" placeholder="Your Name" required)
                        input.email(type="email" placeholder="Your Email" required)
                        input.mes(type="text" placeholder="Your Message Here ..." required)
                .social
                    p.text2 Stay Connnected With Us...
                        .social-icon    
                            img.icon(src="/ali-sayed/assets/images/fb.png" href="/") 
                            img.icon2(src="/ali-sayed/assets/images/dr.png" href="/")
                            img.icon2(src="/ali-sayed/assets/images/tw.png" href="/")
                    p.text2 Please Feel Free To Contat With me For Any Kind of Prject.

