{
  "name": "raevsanton.github.io",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/pug/head.pug",
      "imports": [
        "assets/pug/style.pug"
      ]
    },
    {
      "path": "assets/pug/index.pug",
      "imports": [
        "assets/pug/head.pug",
        "assets/pug/style.pug"
      ]
    },
    {
      "path": "assets/scss/style.scss",
      "imports": [
        "assets/scss/_base.scss",
        "assets/scss/_var.scss",
        "assets/scss/design.scss"
      ]
    },
    {
      "path": "cases/ali-sayed/assets/pug/head.pug",
      "imports": [
        "cases/ali-sayed/assets/pug/style.pug"
      ]
    },
    {
      "path": "cases/ali-sayed/assets/pug/index.pug",
      "imports": [
        "cases/ali-sayed/assets/pug/head.pug",
        "cases/ali-sayed/assets/pug/header.pug",
        "cases/ali-sayed/assets/pug/content.pug",
        "cases/ali-sayed/assets/pug/footer.pug",
        "cases/ali-sayed/assets/pug/style.pug"
      ]
    },
    {
      "path": "cases/ali-sayed/assets/scss/style.scss",
      "imports": [
        "cases/ali-sayed/assets/scss/_var.scss",
        "cases/ali-sayed/assets/scss/_base.scss",
        "cases/ali-sayed/assets/scss/_header.scss",
        "cases/ali-sayed/assets/scss/container.scss",
        "cases/ali-sayed/assets/scss/content.scss",
        "cases/ali-sayed/assets/scss/footer.scss"
      ]
    },
    {
      "path": "cases/bio/assets/pug/content.pug",
      "imports": [
        "cases/bio/assets/pug/search.pug",
        "cases/bio/assets/pug/shares.pug",
        "cases/bio/assets/pug/vk.pug",
        "cases/bio/assets/pug/articles.pug",
        "cases/bio/assets/pug/slider.pug",
        "cases/bio/assets/pug/items.pug",
        "cases/bio/assets/pug/footer.pug",
        "cases/bio/assets/pug/item.pug"
      ]
    },
    {
      "path": "cases/bio/assets/pug/head.pug",
      "imports": [
        "cases/bio/assets/pug/style.pug"
      ]
    },
    {
      "path": "cases/bio/assets/pug/index.pug",
      "imports": [
        "cases/bio/assets/pug/head.pug",
        "cases/bio/assets/pug/header.pug",
        "cases/bio/assets/pug/menu.pug",
        "cases/bio/assets/pug/menu2.pug",
        "cases/bio/assets/pug/content.pug",
        "cases/bio/assets/pug/style.pug",
        "cases/bio/assets/pug/search.pug",
        "cases/bio/assets/pug/shares.pug",
        "cases/bio/assets/pug/vk.pug",
        "cases/bio/assets/pug/articles.pug",
        "cases/bio/assets/pug/slider.pug",
        "cases/bio/assets/pug/items.pug",
        "cases/bio/assets/pug/footer.pug",
        "cases/bio/assets/pug/item.pug"
      ]
    },
    {
      "path": "cases/bio/assets/pug/items.pug",
      "imports": [
        "cases/bio/assets/pug/item.pug"
      ]
    },
    {
      "path": "cases/bio/assets/scss/style.scss",
      "imports": [
        "cases/bio/assets/scss/_var.scss",
        "cases/bio/assets/scss/_base.scss",
        "cases/bio/assets/scss/_header.scss",
        "cases/bio/assets/scss/container.scss",
        "cases/bio/assets/scss/menu.scss",
        "cases/bio/assets/scss/menu2.scss",
        "cases/bio/assets/scss/content.scss",
        "cases/bio/assets/scss/search.scss",
        "cases/bio/assets/scss/shares.scss",
        "cases/bio/assets/scss/vk.scss",
        "cases/bio/assets/scss/articles.scss",
        "cases/bio/assets/scss/slider.scss",
        "cases/bio/assets/scss/items.scss",
        "cases/bio/assets/scss/footer.scss"
      ]
    },
    {
      "path": "cases/edem/assets/pug/head.pug",
      "imports": [
        "cases/edem/assets/pug/style.pug"
      ]
    },
    {
      "path": "cases/edem/assets/pug/index.pug",
      "imports": [
        "cases/edem/assets/pug/head.pug",
        "cases/edem/assets/pug/main-screen.pug",
        "cases/edem/assets/pug/blocks-mobile.pug",
        "cases/edem/assets/pug/warning.pug",
        "cases/edem/assets/pug/services.pug",
        "cases/edem/assets/pug/about.pug",
        "cases/edem/assets/pug/map.pug",
        "cases/edem/assets/pug/addition.pug",
        "cases/edem/assets/pug/footer.pug",
        "cases/edem/assets/pug/style.pug"
      ]
    },
    {
      "path": "cases/edem/assets/scss/style.scss",
      "imports": [
        "cases/edem/assets/scss/_var.scss",
        "cases/edem/assets/scss/_base.scss",
        "cases/edem/assets/scss/_header.scss",
        "cases/edem/assets/scss/container.scss",
        "cases/edem/assets/scss/main-screen.scss",
        "cases/edem/assets/scss/blocks.scss",
        "cases/edem/assets/scss/warning.scss",
        "cases/edem/assets/scss/services.scss",
        "cases/edem/assets/scss/about.scss",
        "cases/edem/assets/scss/map.scss",
        "cases/edem/assets/scss/addition.scss",
        "cases/edem/assets/scss/footer.scss",
        "cases/edem/assets/scss/mobile-gorizontal.scss",
        "cases/edem/assets/scss/mobile.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\",\"cssnext\"],\"compiler-cssnext\":{\"enabled\":false}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"replaceSegmentsWith\":\"../\"},\"outputSuffix\":null}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}