.header
    .container
        .wrapper
            .img-header
            .block-header
                .burger
                    .line
                    .line
                    .line
                .block-h
                    p.h1 Ali Sayed’s
                    p.h2 Web Designing 
                    p.h1 Project
                .block-text
                        p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
                        br
                        br
                        p.text quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dol.    



