@import url(/ali-sayed/assets/resources/fonts/styles.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3; }

.img-header {
  width: 908px;
  background-image: url("/ali-sayed/assets/images/1.png"); }

.block-header {
  width: 458px;
  height: 715px;
  padding-left: 53px;
  padding-top: 53px; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.line {
  width: 33px;
  height: 3px;
  background-color: #3a4245;
  margin-top: 10px; }

.block-h {
  margin-top: 75px; }

.h1 {
  color: #262f32;
  font: 40px "Roboto-Light";
  line-height: 1.5; }

.h2 {
  color: #262f32;
  font: 40px "Roboto-Bold";
  line-height: 1.5; }

.h3 {
  color: #fff;
  font: 45px "Roboto-Black"; }

.h4 {
  color: #fff;
  font: 42px "Roboto-Black";
  margin-top: 34px; }

.block-text {
  margin-top: 34px; }

.text {
  color: #262f32;
  font: 18px "MyriadPro-Regular";
  letter-spacing: 0.539px;
  line-height: 31.998px; }

.container {
  width: 1366px;
  margin-left: auto;
  margin-right: auto; }

.block-left-text .h1 {
  color: #fff; }

.block-left-text #p {
  color: #fff; }

.text2 {
  margin-top: 28px;
  color: #fff;
  font: 16px "Roboto-Regular";
  font-weight: 400;
  line-height: 28px; }

.paragraph {
  margin-top: 80px; }

.block-left {
  height: 853px;
  background-image: url("/ali-sayed/assets/images/2.png");
  padding: 71px 80px 59px 59px; }

.block-right-back1 {
  width: 752px;
  height: 427px;
  background-image: url("/ali-sayed/assets/images/3.png");
  padding: 71px 143px 70px 54px; }
  .block-right-back1 .text2 {
    color: #262f32; }

.block-right-back2 {
  width: 752px;
  height: 427px;
  background-image: url("/ali-sayed/assets/images/4.png");
  padding: 71px 143px 70px 54px; }
  .block-right-back2 .h1 {
    color: #fff; }
  .block-right-back2 .btn {
    border-color: #fff;
    color: #fff; }
  .block-right-back2:hover {
    background-color: #fff;
    color: #262f32;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.btn {
  margin-top: 70px;
  border-radius: 11px;
  border-style: solid;
  border-width: 1px;
  border-color: #262f32;
  background-color: rgba(0, 0, 0, 0);
  width: 212px;
  height: 52px;
  font: 16px "Roboto-Regular";
  font-weight: 400;
  line-height: 31.998px;
  text-align: center; }
  .btn:hover {
    background-color: #262f32;
    color: #fff;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.about {
  width: 100%;
  height: 100%;
  padding: 75px 41px 52px 55px;
  background-image: url("/ali-sayed/assets/images/5.png"); }
  .about .h1 {
    color: #fff; }
  .about .text2 {
    margin-top: 17px; }

.logo {
  margin-top: 253px; }

.form-footer {
  width: 100%;
  height: 715px;
  background-image: url("/ali-sayed/assets/images/6.png");
  padding: 75px 237px 72px 55px; }
  .form-footer .h1 {
    color: #fff; }

.form {
  margin-top: 41px; }

.social-icon {
  margin-top: 22px; }

.icon2 {
  margin-left: 5px; }

input {
  border-radius: 13px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  width: 304px;
  height: 57px; }

::-webkit-input-placeholder {
  padding: 20px 0px 0px 27px;
  color: #ffffff;
  font-weight: 400;
  font: 17px "Roboto-Regular"; }

:-ms-input-placeholder {
  padding: 20px 0px 0px 27px;
  color: #ffffff;
  font-weight: 400;
  font: 17px "Roboto-Regular"; }

::-ms-input-placeholder {
  padding: 20px 0px 0px 27px;
  color: #ffffff;
  font-weight: 400;
  font: 17px "Roboto-Regular"; }

::placeholder {
  padding: 20px 0px 0px 27px;
  color: #ffffff;
  font-weight: 400;
  font: 17px "Roboto-Regular"; }

.mes {
  margin-top: 15px;
  width: 619px;
  height: 161px; }

.email {
  margin-left: 7px; }

.social {
  margin-top: 96px; }

input:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
