.footer {
    margin-top: 59px;
}
.footer__up {
    width: 966px;
    height: 12px;
    background-color: #d4e8f3;
}
.footer__main {
    display: flex;
    justify-content: space-around;
    width: 966px;
    height: 186px;
    background-color: #3482ca;
}
.footer__column {
    margin: 50px 0 0 -30px;
    font: 14px $font1;
    color: $gray2;
    & p:nth-child(1) {
        font: 14px $font2;
    }
}
.footer__card {
    display: flex;
    margin-top: 6px;
}