.content
    .container
        .content__back
            .content__left
                include ./search    
                include ./shares
                include ./vk
                include ./articles
            .content__right
                include ./slider
                include ./items
            .content__text
                p.content__text__h1 Рады приветствовать Вас в нашем интернет магазине “Med - Nature”!
                p Наш онлайн магазин Мед-натуре является местом, в котором у Вас есть возможность купить для себя самые известные и эффективные товары для здоровья, которые произведены исключительно из натуральных компонентов. Наша команда всегда следит за событиями на рынке новинок, и предлагаем своим клиентам приобрести только ту продукцию, которая считается уникальной в своем роде. Наш интернет магазин “Med - Nature” предлагает вам купить качественные товары для здоровья по доступной стоимости, а именно: черничную пасту LiQberry, товары компании Тенториум, которая выпускает свою продукцию на основе меда, гели компании Alezan, препараты на основе Алоэ вера, йогуртовые закваски Good Food и VIVO, а также продукцию компании Yani Cosmetics.                    
                br
                p Доктора очень часто говорят, что лучше всего заранее предупредить заболевание, чем в будущем тратить свое здоровье и деньги на его лечение. В каталоге нашего интернет магазина у вас есть возможность приобрести продукцию, при помощи которой Вы сможете улучшить здоровье своей семьи и близких. С интернет магазином “Med - Nature” быть здоровым очень легко!
                br
                p Принципы интернет магазина Меднатуре заключаются в достаточном обеспечении своих клиентов продукцией, которая имеет уникальные свойства для лечения различных заболеваний, а также обладает повышенной надежностью, эффективностью и простотой в использовании. Наша компания желает Вам крепкого здоровья и приглашает приобрести в нашем интернет магазине полезные для вашего здоровья товары!
            include ./footer