.header
    .container
        img.logo(src="/seosa/assets/images/logo.png" alt="Bio" href="#")
        .header__info
            .header__telephone
                a.header__black(href="tel:+78005555555") 8 (800)
                a.header__blue(href="tel:+78005555555")  555 - 55 - 55
            p.header__time Ежедневно с 9 - 00 до 19 - 00
        .header__line 
        .header__shop
            a.text__blue(href="#") Корзина
                img.header__img(src="/seosa/assets/images/shop.svg" alt="Shop" href="#")
            p.text__black Товаров:
                span.text__black--count  0
            p.text__black На сумму:
                span.text__black--price  0
            a.text__blue(href="#") Оформить заказ