.item
    img(src="/seosa/assets/images/cream.jpg")
    .items__up
        .items__name marocMaroc 75
        .items__name--12 мл
    .items__name--12 Питательный крем для лица "Богатство аргании" marocMaroc..
    .items__buy
        .items__name--red 1700
        .items__name--12--red руб
        button(type="submit" href="#") В корзину