.menu2
    .container
        .menu__2
            ul
                li #[a.menu__2__li(href="#") Очищение]
                    ul
                        table.submenu
                            tr
                                td
                                    a(href="#")
                                        p.menu__2__h Молочко
                            tr
                                td
                                    a(href="#")
                                        p.menu__2__h Тоники
                            tr
                                td
                                    a(href="#")
                                        p.menu__2__h Отшелушивание и                        
                                                    p #[.menu__2__h демакияж] 
                li #[a.menu__2__li--18(href="#") Для лица #[.menu__2__li--24 Classic]]
                    ul
                        table.submenu
                            tr
                                td
                                    a(href="#")
                                        p.menu__2__h Most Hydrating
                                        p.main__text--menu2 Увлажняет и защищает от обезвоживания 
                                        p.menu__2__types Для жирной кожи, для кожи смешанного типа
                                td
                                    a(href="#")
                                        p.menu__2__h Perfect Age
                                        p.main__text--menu2 Питает кожу и восстанавливает ее функции  
                                        p.menu__2__types Для сухой кожи, для кожи смешанного типа
                            tr
                                td
                                    a(href="#")
                                        p.menu__2__h Purifying
                                        p.main__text--menu2 Бореться с излишней выработкой кожного сала и контролирует деятельность бактерий
                                        p.menu__2__types Для жирной кожи, для кожи смешанного типа
                                td
                                    a(href="#")
                                        p.menu__2__h Sweet Relief
                                        p.main__text--menu2 Уменьшение хрупкости капиляров, облегчает состояние кожи и дарит мгновенное ощущения комфорта
                                        p.menu__2__types Для чувствительной кожи
                li #[a.menu__2__li--18(href="#") Для лица #[.menu__2__li--24 Premium]]
                    ul
                        table.submenu
                            tr
                                td
                                    a(href="#")
                                        p.menu__2__h Desense
                                        p.main__text--menu2 Борется с основными видами воспалений, усиливает защитную функцию кожи, улучшает циркуляцию
                                        p.menu__2__types Для чувствительной и раздражительной кожи
                                td
                                    a(href="#")
                                        p.menu__2__h Pramaluce
                                        p.main__text--menu2 Инновационная программа последовательного обновления с PHA  и АНА кислотами 
                                        p.menu__2__types Для всех типов кожи
                                td
                                    a(href="#")
                                        p.menu__2__h Detailse of beuty
                                        p.main__text--menu2 Растительные стволовые клетки, икра и ретинол для эфективного воздействия против старения
                                        p.menu__2__types Для всех типов кожи
                            tr
                                td
                                    a(href="#")
                                        p.menu__2__h Reveillance
                                        p.main__text--menu2 Глобальная анетиоксидантная защита против свободных радикалов технология многоуровневого проникновения, содержит нано частицы
                                        p.menu__2__types Для всех типов кожи
                                td
                                    a(href="#")
                                        p.menu__2__h Lifting code
                                        p.main__text--menu2 Мультинаправленное лифтинг - воздействие, заполнение морщин, подтягивание, увлажнение
                                        p.menu__2__types Для всех типов кожи особенно для сухой кожи
                                td
                                    a(href="#")
                                        p.menu__2__h Age beuty secret
                                        p.main__text--menu2 Делает цвет лица ровным, разглаживает морщинны, защищает от повреждений, вызванных временем и вредными привычками
                                        p.menu__2__types Для всех типов кожи
                li #[a.menu__2__li(href="#") Для тела]