.shares
    .shares__item1
        p.shares__title Акция месяца
        p.shares__title-item Дневной крем Lancome 50 ml
        img(src="/seosa/assets/images/lancome.png" alt="Lancome")
        .shares__price
            .shares__price__line
            p.shares__price--12 цена #[span.shares__price 900] #[span.shares__price--12 P] 
            p.shares__price--12 цена 1800 Р
    .shares__line
    .shares__item2
        p.shares__title-item Дневной крем Lancome 50 ml
        img(src="/seosa/assets/images/lancome.png" alt="Lancome")
        .shares__price
            .shares__price__line
            p.shares__price--12 цена #[span.shares__price 900] #[span.shares__price--12 P] 
            p.shares__price--12 цена 1800 Р
    a.shares__title--14(href="#") Смотреть все #[img.shares__arrow(src="/seosa/assets/images/arrow.svg")]