.slider
    .slider__main
        .mySlides.fade
            img(src="/seosa/assets/images/banner1.jpg" style="width:100%")
        .mySlides.fade
            img(src="/seosa/assets/images/banner2.jpg" style="width:100%")
        .mySlides.fade
            img(src="/seosa/assets/images/banner3.jpg" style="width:100%")
        .mySlides.fade
            img(src="/seosa/assets/images/banner4.jpg" style="width:100%")
        .dots
            span.dot(onclick="currentSlide(1)")
            span.dot(onclick="currentSlide(2)")
            span.dot(onclick="currentSlide(3)")
            span.dot(onclick="currentSlide(4)")
        ul.menu3
            li #[img.slider__icon(src="/seosa/assets/images/like.png")] #[.shares__title-item Надёжность работы]
                ul.submenu3
                        p.main__text--slider Наша команда всегда следит за событиями на рынке новинок, и предлагаем своим клиентам приобрести только ту продукцию, которая считается уникальной в своем роде.Вы сможете улучшить здоровье своей семьи и близких. С интернет магазином “Med - Nature” быть здоровым очень легко!
            li #[img.slider__icon(src="/seosa/assets/images/grant.png")] #[.shares__title-item Гарантия подлинности]
                ul.submenu3
                        p.main__text--slider Наша команда всегда следит за событиями на рынке новинок, и предлагаем своим клиентам приобрести только ту продукцию, которая считается уникальной в своем роде.Вы сможете улучшить здоровье своей семьи и близких. С интернет магазином “Med - Nature” быть здоровым очень легко!
            li #[img.slider__icon(src="/seosa/assets/images/money.png")] #[.shares__title-item Возможность возврата]
                ul.submenu3
                        p.main__text--slider Наша команда всегда следит за событиями на рынке новинок, и предлагаем своим клиентам приобрести только ту продукцию, которая считается уникальной в своем роде.Вы сможете улучшить здоровье своей семьи и близких. С интернет магазином “Med - Nature” быть здоровым очень легко!