@import "/assets/resources/fonts/styles.css";
@import "_base";
@import "_var";
@import "design";

h1 {
  font-size: 48px;
}

.content {
  height: 100%;
  &__contacts {
    position: fixed;
    bottom: 3%;
    right: 2%;
    width: 49px;
    height: 49px;
    background-color: #fff;
    border-radius: 100px;
    opacity: .7;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,.2);
    transition-duration: 0.4s;
    &:hover {
      width: 190px;
      opacity: 1;
      transition-duration: 0.3s;
    }
    &:hover img {
      visibility: visible;
    }
  }
  &__open {
    display: flex;
    justify-content: flex-end;
    width: 37px;
    border-radius: 100px;
    opacity: .7;
    float: right;
    margin-top: 6px;
    margin-right: 8px;
    border-radius: 100px;
    opacity: .8;
    transition-delay: 0.1s;
    & img {
      visibility: hidden;
      padding-left: 10px;
      transition-delay: 0.1s;
      &:nth-child(4) {
        visibility: visible;
        transition-duration: 0.4s;
      }
    }
  }
}
.content__contact img:hover:nth-child(4) {
  visibility: hidden;
  content: url("/assets/images/close.svg");
}
.content__left {
    font: 50px $font2;
    text-transform: uppercase;
    width: 50%;
    height: 100%;
    position: relative;
    text-align: center;
    float: left;
    cursor: pointer;
    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
      &:hover:before,
      &:hover span:nth-child(1) {
        visibility: visible;
        animation: glitchy 0.3s ease infinite reverse;
      }
      &:hover:after,
      &:hover span:nth-child(2) {
        visibility: visible;
        animation: glitchy 0.3s ease 0.3s infinite;
      }
}

.content__right {
  font: 45px $font1;
  color: #231557;
  width: 50%;
  height: 100%;
  float: right;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  & h1 {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
      text-align: center;
  }
}

.content__left--text {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: inline-block;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    text-align: center;
  }
  
  .glitch {
    position: relative;
  
    span {
      display: block;
    }
    
    span:nth-child(1),
    span:nth-child(2) {
      position: absolute;
      left: 0;
      top: 0;    
    }
    span:nth-child(1) {
      color: #0ff;
      z-index: -1;
    }
  
    span:nth-child(2) {
      color: #f0f;
      z-index: -2;
    }
  
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      visibility: hidden;
    }
  }
  
  @keyframes glitchy {
    0% {
      transform: translate(-2px, 2px);
    }
  
    25% {
      transform: translate(-2px, -2px);
    }
  
    50% {
      transform: translate(2px, 2px);
    }
  
    75% {
      transform: translate(2px, -2px);
    }
  
    to {
      transform: translate(-2px, 2px);
    }
  }

.content__right--text {
  padding: 255px 0;
  &:hover {
    transition: visibility 0s 3s, opacity 2s linear;
    background: linear-gradient(to right, #231557 20%, #495bff 40%, #495bff 60%, #231557 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
    -moz-animation: shine 3s linear infinite;
    @keyframes shine {
      to {
        visibility: visible;
        transition: opacity 8s linear;
        background-position: 200% center;
      }
    }
  }
}

.content__left--list {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  & a {
    display: flex;
    justify-content: center;
    font: 35px $font2;
    color: #fff;
    transition-duration: 0.4s;
    &:hover {
      color: #8e52e0;
      transition-duration: 0.4s;
    }
  }
}

.content__right--list {
  display: none;
  position: relative;
  top: 35%;
  text-align: center;
  & a {
    display: flex;
    justify-content: center;
    font: 35px $font1;
    color: #252525;
    margin-top: 15px;
    transition-duration: 0.4s;
    &:hover {
      color: #929292;
      transition-duration: 0.4s;
    }
  }
}

.content__right--list2 {
  text-align: center;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@media (max-width: 480px) {
  .design__container {
    padding: 0 10px;
  }

  .content__close--design {
    position: relative;
    margin: 41px 0px 30px 30px;
  }

  .content__right--text {
    padding: 150px 0;
  }

  .design__title--af {
    padding-top: 15px;
    font: 35px $font1;
    color: #252525;
  }

  .design__img {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .design__container {
    padding: 0 20px;
  }

  .content__close--design {
    margin: -14px 0px 0px 20px;
    z-index:1;
  }

  .design__title--af {
    padding-top: 15px;
    font: 35px $font1;
    color: #252525;
  }

  .design__img {
    width: 100%;
  }
  .design__title--up {
    margin-top: 142px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content__close--design {
    margin: -118px 0 0 20px;
  }

  .design__title--af {
    padding-top: 15px;
    font: 35px $font1;
    color: #252525;
  }
}

@media (min-width: 1024px) and (max-width: 1681px) {
  .content__close--design {
    margin: 19px 0px 0px -90px;
  }

  .design__title--af {
    padding-top: 35px;
    font: 35px $font1;
    color: #252525;
  }

  .design__img {
    width: 100%;
  }
}

@media (min-width: 1681px) {
  .design__img {
  &--shadow {
    width: auto;
  }
  &--last {
    box-shadow: 0px 4px 76px 5px rgba(0,0,0,0.17);
    margin-bottom: 100px;
    width: auto;
  }
 }
}