.header {
    padding-top: 33px;
    position: relative;
    width: 100%;
    &__wrp {
        display:  flex;
        align-items:  flex-start;
        justify-content:  space-between;
    }
    &__wrp-1 {
        display: flex;
        align-items: center;
    }
}
a {
    text-decoration: none;
}
.logo {
    margin: 23px 83px 0 74px;
}
.telephone {
    font: 36px $font1;
    margin-right: 42px;
    color: $white;
}
.burger-menu {
    background:#202020;
	border-radius:500px;
	position: relative;
    cursor:pointer;
    width:54px;
    height:54px;
}
.line {
	position: absolute;
	height: 4px;
	width: 26px;
	background:white;
	border-radius:10px;
}

.line01 {
    top:25%;
    left:25%;
}

.line02 {
    top:45%;
    left:25%;
}

.line03 {
    top:65%;
    left:25%;
}