$white: #fff;
$black: #000;
$font1: "MyriadSetPro-Bold";
$font2: "MyriadSetPro-Medium";
$font3: "MyriadSetPro-Semibold";
$font4: "MyriadSetPro-Text";
$font5: "BebasNeueBold";
$font6: "AvenirNextCyr-Medium";