.addition {
    padding: 6px 0 8px 0;
}
.container-addition {
    display: flex;
    justify-content: space-between;
    width: 757px;
    margin-left: auto;
    margin-right: auto;
}
.add-btn {
    padding-top: 6px;
    margin-top: 105px;
    position: absolute;
    z-index: 2;
    border-radius: 4px;
    background-color:  #19538f;
    width: 225px;
    height: 37px;
    border: 0;
    outline: none;
    font: 18px $font1;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.add-btn:hover {
    padding-top: 6px;
    margin-top: 105px;
    position: absolute;
    z-index: 2;
    border-radius: 4px;
    background-color:  #2574c9;
    width: 225px;
    height: 37px;
    border: 0;
    outline: none;
    font: 18px $font1;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
