.footer {
    padding: 12px 0px 15px 0px;
    width: 100%;
    height: 114px;
    background-image: url(/edem/assets/images/footer.png)
}
.ul-text {
    display: flex;
    font: 12px $font2;
    color:#000000;
    font-weight: 500;
    line-height: 24px;
} 
.ul-text:hover {
    display: flex;
    font: 12px $font2;
    text-decoration: underline;
    color:#0060c0;
    font-weight: 500;
    line-height: 24px;
}
.left-block-footer {
    width: 520px;
    display: flex;
    justify-content: space-between;
}
.blocks-footer {
    display: flex;
    justify-content: space-between;
}
.time-footer {
    color:  #000000;
    font: 14px $font3;
    font-weight: 600;
    line-height: 24px;
    text-align: right;
}
.telephone-footer {
    margin-left: 10px;
    color:  #000000;
    font: 18px $font2;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
}    
.tel-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.logo-footer {
    margin-left: 16px;
    display: flex;
    width: 106px;
    height: 82px;
}
.contact {
    display: flex;
    justify-content: flex-end;
}
.copyright {
    color: #6f6f6f;
    font: 14px $font2;
    font-weight: 500;
    line-height: 24px;
}
.footer-up {
    display: none;
    width: 100%;
    height: 51px;
    background-color: #19538f;
    text-transform: uppercase;
    font: 12px $font2;
    color: #fff;
}
#footer-arrow {
    width:100px;
    padding:5px;
    position:fixed;
    bottom: -2px;
    right: -17px;
    cursor:pointer;
    display:none;
    z-index: 5;
}