.main-screen {
    background: url("/edem/assets/images/1.jpg") no-repeat top / cover;
    height: 1200px;
    width: 100%;
}
.main-screen-text {
        margin-top: 67px;
        text-align: right;
}
.text1 {
        font: 57px $font1;
        letter-spacing: 7px;
        text-transform: uppercase;
        background: linear-gradient(0deg,#ededed 30%, #f1f1f1 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.text2 {
        font: 107px $font5;
        color:  #f0cf5c;
        text-transform: uppercase;
}
.text3 {
        font: 34px $font2;
        color: $white;
        text-transform: uppercase;
}
.main-screen__blue {
        display: none;
}
.blocks-mobile {
        display: none;
}