@media (max-width: 768px) {
    .main-screen {
        background: url("/edem/assets/images/1.jpg") no-repeat;
        height: 292px;
        width: 100%;
    }
    .main-screen .container {
        padding: 0px 5px 0px 5px;
    }
    .header {
        padding-top: 6px;
    }
    .container {
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
    }
    .logo {
        width: 137px;
        height: 104px;
        padding: 0px 0px 14px 12px; 
    }
    .burger-menu {
        margin: 20px 55px;
    }
    .text1 {
        font: 30px $font1;
        color:  #ffffff;
        letter-spacing: 4px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    .text2 {
        font: 107px $font5;
        color:  #f0cf5c;
        font-size: 40px;
        font-weight: 400;
    }
    .text3 {
        color:  #ffffff;
        font-size: 16px;
        font-weight: 500;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);
    }
    .main-screen-text {
        margin: 14px 50px 0 0;
        text-align: right;
    }
    .main-screen__blue {
        margin-top: 19px;
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 45px;
        text-align: center;
        background-color: #125290;
    }
    .telephone {
        display: none;
        margin: auto;
    }
    .main-screen__blue .telephone {
        display: block;
        padding: auto;
    }
    .blocks {
        display: none;
    }
    .blocks-mobile {
        display: block;
        height: 282px;
        margin-top: 20px;
    }
    .block-caption {
        margin-top: 32px;
    }
    .block-ul {
        font-size: 10px;
    }
    .item1 {
        width: 190px;
        height: 241px;
    }
    .item2 {
        width: 190px;
        height: 241px;
    }
    .item3 {
        width: 190px;
        height: 241px;
    }
    .block-price {
        display: none;
    }
    .warning {
        height: 236px;
    }
    .warning-img {
        height: 72px;
        width: 68px;
    }
    .warning-h1 {
        font-size: 16px;
    }
    .warning-text {
        display: none;
        font-size: 12px;
    }
    .warning-text-mobile {
        margin-top: 20px;
        display: block;
    }
    .warning-paragraph {
        margin: 20px 0 0 10px;
    }
    .services-blocks {
        display: none;
    }
    .services:after {
        display: none;
    }
    .services {
        padding-top: 26px;
    }
    .services .container {
        padding: 0;
    }
    .services-blocks-mobile {
        display: block;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 19px;
    }
    .block-item-mobile {
        position: relative;
        flex: 0 0 calc(50% - 0px);
        padding: 30px 8px;
        z-index: 0;
        margin-bottom: 2px;
        background: no-repeat center/cover;
    }
    .block-item-mobile:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(25, 83, 143, 0.7);
        z-index: -1;
    }
    .block-item-text {
        text-align: center;
        color: #fff;
        font: 16px $font1;
        text-transform: uppercase;
        z-index: 2;
    }
    .item1 .btn_blocks {
        margin-top: 63px;
    }
    .blue-h1 {
        font-size: 40px;
        text-align: center;
    }
    .blocks-mobile .container {
        padding: 0;
    }
    .about {
        margin: 21px 0 21px 0;
    }
    .about-content {
        display: block;
    }
    .about__block-description {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        margin-bottom: 90px;
    }
    .about__block-description:nth-child(n+3) {
        display: none;
    }
    .about-img {
        display: none;
    }
    .about-flex {
        display: block;
    }
    .about-form {
        margin: calc(-50vw + 50%);
        left: 0;
        width: auto;
        height: 360px;
    }
    .form-name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-text16 {
        display: none;
    }
    .form-text14 {
        margin-top: 14px;
        font-size: 12px;
    }
    .form-text14:nth-of-type(2) {
        display: none;
    }
    .h-form {
        padding-top: 42px;
        font-size: 20px;
    }
    input {
        width: 250px;
        margin-top: 44px;
    }
    input:nth-of-type(2) {
        margin-top: 24px;
    }
    .btn-form {
        margin-top: 24px;
        width: 107px;
        height: 33px;
        font-size: 12px;
    }
    .map {
        margin-top: -1px;
    }
    .map-info {
        margin-top: 196px;
        width: 100%;
        height: 326px;
        left: 0;
        padding: 0 30px 52px 31px;
    }
    .map-info .logo {
        display: none;
    }
    .map-block-text {
        text-align: center;
        margin-top: 16px;
    }
    .container-addition {
        display: flex;
        justify-content: space-around;
        width: auto;
    }
    .text-map {
        font-size: 24px;
    }
    .text-map:nth-of-type(9) {
        display: none;
    }
    .text-map:nth-of-type(11) {
        display: none;
    }
    .h-map {
        display: none;
    }
    .addition-item2 {
        margin-right: 9px;
    }
    .add-image1 {
        width: 150px;
        height: 110px;
    }
    .add-image2 {
        width: 140px;
        height: 104px;
    }
    .add-btn {
        background-color:  #008ec3;
        width: 149px;
        height: 38px;
        padding-top: 9px;
        margin-top: 66px;
    }
    .add-btn:hover {
        background-color:  #008ec3;
        width: 149px;
        height: 38px;
        padding-top: 9px;
        margin-top: 66px;
    }
    .footer {
        padding: 3px 0px 15px 0px;
        height: auto;
    }
    .right-block-footer {
        display: none;
    }
    .left-block-footer {
        width: 900px;
        display: flex;
        justify-content: space-around;
    }
    .ul-footer:nth-of-type(3) {
        display: none;
    }
    .footer-up {
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
    }
    .footer-up p {
        padding: 20px 0px 20px 30px;
    }
    .arrow {
        padding: 5px 30px 5px 0;
    }
    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;
    
        &:focus {
            outline: none;
        }
    
        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
    }
    .slick-track {
        position: relative;
        left: 0;
        top: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .slick-slide {
        float: left;
        min-height: 1px;
    }
    
    .slider {
        width: 50%;
        margin: 100px auto;
      }
      
    .slick-slide {
        margin: 10px 5px;
    }
    
    .slick-slide img {
        width: 100%;
    }
    
    .center img {
        opacity: 0.7;
        transition: all 300ms ease;
    }
}