.warning {
    position: relative;
    background-color: #3a3a3a;
    width: 100%;
    height: 212px;
}
.warning-content {
    padding-top: 18px;
    display: flex;
}
.warning-h1 {
    color: $white;
    font: 47px $font1;
    text-transform: uppercase;
}
.warning-text {
    color: $white;
    font: 18px $font4;
}
.warning-text-mobile {
    display: none;
    color: $white;
    font: 12px $font4;
}
.warning-paragraph {
    margin: 0 0 0 20px;
}