.about {
    width: 100%;
    height: 100%;
    padding: 75px 41px 52px 55px;
    background-image: url("/ali-sayed/assets/images/5.png");
    & .h1 {
        color: #fff;
    }
    & .text2 {
        margin-top: 17px;
    }
}
.logo {
    margin-top: 253px;
}
.form-footer {
    width: 100%;
    height: 715px;
    background-image: url("/ali-sayed/assets/images/6.png");
    padding: 75px 237px 72px 55px;
    & .h1 {
        color: #fff;
    }
}
.form {
    margin-top: 41px;
}
.social-icon {
    margin-top: 22px;
}
.icon2 {
    margin-left: 5px;
}
input {
    border-radius: 13px;
    border-style: solid;
    border-width: 1px;
    border-color:  #ffffff;
    background-color:  rgba(0, 0, 0, 0);
    width: 304px;
    height: 57px;
}
::placeholder {
    padding: 20px 0px 0px 27px;
    color:  #ffffff;
    font-weight: 400;
    font: 17px $font6;
}
.mes {
    margin-top: 15px;
    width: 619px;
    height: 161px;
}
.email {
    margin-left: 7px;
}
.social {
    margin-top: 96px;
}
input:focus::-webkit-input-placeholder { 
    color:transparent; 
    transition: 0.5s;
}