.articles
    .articles__title
        p.articles__title--text Последние статьи
    .articles__item
        .articles__img
            img(src="/bio/assets/images/articles.jpg")
            p.articles__date 22.01.15
        .articles__text
            p.main__text Наш онлайн магазин Мед-натуре является местом, в котором у Вас есть возможность купить для себя самые известные и эффективные товары #[a.articles__text(href="#") Подробнее #[img.shares__arrow(src="/bio/assets/images/arrow.svg")]] 
    .shares__line
    .articles__item
        .articles__img
            img(src="/bio/assets/images/articles.jpg")
            p.articles__date 22.01.15
        .articles__text
            p.main__text Наш онлайн магазин Мед-натуре является местом, в котором у Вас есть возможность купить для себя самые известные и эффективные товары #[a.articles__text(href="#") Подробнее #[img.shares__arrow(src="/bio/assets/images/arrow.svg")]]
    .shares__line
    .articles__item
        .articles__img
            img(src="/bio/assets/images/articles.jpg")
            p.articles__date 22.01.15
        .articles__text
            p.main__text Наш онлайн магазин Мед-натуре является местом, в котором у Вас есть возможность купить для себя самые известные и эффективные товары #[a.articles__text(href="#") Подробнее #[img.shares__arrow(src="/bio/assets/images/arrow.svg")]]
    .shares__line
a(href="#").articles__btn  Смотреть все
