.footer
    .footer__up
    .footer__main
        .footer__column
            p Интернет-магазин bio.ru
            p г.Москва, москва москва москва,
            p метро москва
            p Офисно-складской комплекс «Москва»
            p  Телефон: 8(55555555555)
        .footer__column
            p Отзывы
            p Обратная связь
            p Статьи
            p Вопрос-ответ
        .footer__column
            p О магазине
            p Оплата и доставка
            p Партнерская программа
            p Схема проезда
        .footer__column
            p Способы оплаты
            .footer__card
                img(src="/bio/assets/images/visa.png")
                img(src="/bio/assets/images/master card.png")
                img(src="/bio/assets/images/webmoney.png")