.menu
    .container
        .menu__1
            ul
                li #[a(href="#") Главная]
                li #[a(href="#") Новые поступления]
                li #[a(href="#") Акции]
                li #[a(href="#") Аксесcуары]    
                li #[a(href="#") Оплата и доставка]
                li #[a(href="#") Статьи]
                li #[a(href="#") О нас]