@import url(/assets/resources/fonts/styles.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -o-object-fit: cover;
  object-fit: cover;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

html,
body {
  height: 100%; }

a {
  text-decoration: none; }

.content {
  height: 100%; }

.content__left {
  font: 50px "Kanit-Bold";
  width: 50%;
  height: 100%;
  position: relative;
  text-align: center;
  background-color: #131313;
  float: left; }
  .content__left:hover:before,
  .content__left:hover span:nth-child(1) {
    visibility: visible;
    animation: glitchy 0.3s ease infinite reverse; }
  .content__left:hover:after,
  .content__left:hover span:nth-child(2) {
    visibility: visible;
    -webkit-animation: glitchy 0.3s ease 0.3s infinite;
    animation: glitchy 0.3s ease 0.3s infinite; }

.content__right {
  font: 45px "YesevaOne-Regular";
  color: #131313;
  width: 50%;
  height: 100%;
  float: right;
  background-color: white; }
  .content__right p {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    text-align: center; }

.btn {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  text-align: center; }

.glitch {
  position: relative; }
  .glitch span {
    display: block; }
  .glitch span:nth-child(1),
  .glitch span:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0; }
  .glitch span:nth-child(1) {
    color: #0ff;
    z-index: -1; }
  .glitch span:nth-child(2) {
    color: #f0f;
    z-index: -2; }
  .glitch:before, .glitch:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden; }

@-webkit-keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  25% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  50% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  75% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  to {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); } }

@keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  25% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  50% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  75% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  to {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); } }

.linear-wipe {
  padding: 280px 0 280px 0; }
  .linear-wipe:hover {
    -webkit-transition: visibility 0s 3s, opacity 2s linear;
    -o-transition: visibility 0s 3s, opacity 2s linear;
    transition: visibility 0s 3s, opacity 2s linear;
    background: -webkit-gradient(linear, left top, right top, color-stop(20%, #0099f7), color-stop(40%, #f11712), color-stop(60%, #f11712), color-stop(80%, #0099f7));
    background: -webkit-linear-gradient(left, #0099f7 20%, #f11712 40%, #f11712 60%, #0099f7 80%);
    background: -o-linear-gradient(left, #0099f7 20%, #f11712 40%, #f11712 60%, #0099f7 80%);
    background: linear-gradient(to right, #0099f7 20%, #f11712 40%, #f11712 60%, #0099f7 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 3s linear infinite;
    animation: shine 3s linear infinite; }

@-webkit-keyframes shine {
  to {
    visibility: visible;
    -webkit-transition: opacity 8s linear;
    -o-transition: opacity 8s linear;
    transition: opacity 8s linear;
    background-position: 200% center; } }

@keyframes shine {
  to {
    visibility: visible;
    -webkit-transition: opacity 8s linear;
    -o-transition: opacity 8s linear;
    transition: opacity 8s linear;
    background-position: 200% center; } }
