.blocks-mobile
    .container
        .center
            .item1
                .block-text
                    .block-caption
                        p Эконом
                    .block-ul
                        p Гроб
                        p Бригада
                        p Катафалк
                        p Могила
                    .block-price
                        p от 14 000 рублей
                    button.btn_blocks подробнее
            .item2
                .block-text
                    .block-caption
                        p Cтандарт
                    .block-ul
                        p Гроб
                        p Катафалк
                        p Могила
                        p Крест+табличка
                        p Оформление документов
                        p Церковные принадлежности
                        p Венок
                    .block-price
                        p от 18 000 рублей
                    button.btn_blocks подробнее
            .item3
                .block-text
                    .block-caption
                        p Премиум
                    .block-ul
                        p Катафалк
                        p Могила
                        p Крест+табличка
                        p Оформление документов
                        p Церковные принадлежности
                        p Венок
                        p Гроб элитный
                    .block-price
                        p от 25 000 рублей
                    button.btn_blocks подробнее