
.footer
    .container
        .blocks-footer
            .left-block-footer
                .ul-footer
                    a.ul-text(href="/") Ритуальные услуги
                    a.ul-text(href="/") Организация похорон
                    a.ul-text(href="/") Надгробные сооружения
                    a.ul-text(href="/") Облицовка могил плиткой
                .ul-footer
                    a.ul-text(href="/") Транспорт на похороны
                    a.ul-text(href="/") Комплексная бригада
                    a.ul-text(href="/") Ритуальные принадлежности
                .ul-footer
                    a.ul-text(href="/") Организация поминок
                    a.ul-text(href="/") Уход за могилой
                    a.ul-text(href="/") Помощь психолога
            .right-block-footer
                .contact
                    .contact-text
                        p.time-footer круглосуточно
                            .tel-footer
                                img(src="/edem/assets/images/telephone.png")
                                a.telephone-footer(href="tel:+79272703773") +7 (9272) 703-773
                            .tel-footer
                                img(src="/edem/assets/images/email.png")
                                p.telephone-footer edemnew73@yandex.ru
                    img.logo-footer(src="/edem/assets/images/logo.png")
                p.copyright Все права защищены (с) 2018г - Ритуальныеуслуги73.рф
        .footer-up
            p Все права защищены (с) 2018
        #footer-arrow
            img(src="/edem/assets/images/up.png")

        