.map
    .map-content
        .container
            .map-info
                img.logo(src="/edem/assets/images/logo.png", alt="Эдем", href="#")
                .map-block-text
                    p.h-map Адреса:
                    p.text-map г. Ульяновск,  ул. Московское шоссе, 60
                    p.text-map г. Ульяновск, ул. Полбина, 10
                    p.text-map Ул. обл., с. Большие Ключищи, ул. Мира, д. 20
                    p.text-map (напротив храма)
                    br
                    p.h-map Телефоны:
                    p.text-map +7 (8422) 455-695
                    p.text-map +7 (9272) 703-773
                    p.text-map +7 (9272) 706-190
                    br
                    p.h-map Почта:
                    p.text-map edemnew73@yandex.ru
        <iframe src="https://snazzymaps.com/embed/62195" width="100%" height="548px" style="border:none;"></iframe>
