.warning
    .container
        .warning-content
            img.warning-img(src="/edem/assets/images/warning.png")
            .warning-paragraph
                p.warning-h1 Будьте бдительны, работают мошенники
                p.warning-text Уже в течении часа после смерти родственника Вас могут начать осаждать непрошеные ритуальные агенты. Будьте уверены эти люди пришли по наводке сотрудников скорой помощи , либо полиции.  За подобного рода информацию не чистые на руку агенты платят солидное вознаграждение информаторам,  которое обязательно включат вам в стоимость своих услуг, в том или ином виде. Ни в коем случае не доверяйте организацию похорон подобным, беспринципным людям, это всегда дороже и менее качественно, чем в организации которую вы выбираете сами.
        p.warning-text-mobile Уже в течении часа после смерти родственника Вас могут начать осаждать непрошеные ритуальные агенты. Будьте уверены эти люди пришли по наводке сотрудников скорой помощи , либо полиции.  За подобного рода информацию не чистые на руку агенты платят солидное вознаграждение информаторам,  которое обязательно включат вам в стоимость своих услуг, в том или ином виде. Ни в коем случае не доверяйте организацию похорон подобным, беспринципным людям, это всегда дороже и менее качественно, чем в организации которую вы выбираете сами.
