.services {
    position: relative;
    padding-top: 53px;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 300px;
        background: linear-gradient(#859cbf, white);
        z-index: -1;
    }
}
.services-blocks-mobile {
    display: none;
}
.blue-h1 {
    font: 63px $font4;
    text-transform: uppercase;
    color: #19538e;
}
.services-blocks {
    margin-top: 52px;
    display: flex;
}
.block-two {
    display: flex;
}
.block-three {
    display: flex;
    flex-direction: column;
}
.block-back {
    background-color:#afd1f3;
    width: 128px;
    height: 35px;
    text-align: center;
    color: #19538e;
    font: 12px $font1;
    text-transform: uppercase;
    z-index: 7;
}
.block-back2 {
    background-color:#afd1f3;
    width: 186px;
    height: 35px;
    padding-top: 9px;
    text-align: center;
    color: #19538e;
    font: 12px $font1;
    text-transform: uppercase;
    z-index: 5;
}
.block-back1 {
    background-color:#afd1f3;
    width: 130px;
    height: 35px;
    padding-top: 6px;
    text-align: center;
    color: #19538e;
    font: 12px $font1;
    text-transform: uppercase;
    z-index: 5;
}
.block-item1 {
    margin-right: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
    width: 133px;
    height: 294px;
    background: url("/edem/assets/images/item1.png") no-repeat center / cover;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .6);
        transition: background-color .2s;
    }
    &:hover::after {    
        background-color: rgba(255, 255, 255, 0);
        
    }
}
.block-item2 {
    margin-right: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
    width: 155px;
    height: 155px;
    background: url("/edem/assets/images/item2.png") no-repeat center / cover;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .6);
        transition: background-color .2s;
    }
    &:hover::after {    
        background-color: rgba(255, 255, 255, 0);
        
    }
}
.block-item3 {
    margin-right: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
    width: 155px;
    height: 155px;
    background: url("/edem/assets/images/item3.png") no-repeat center / cover;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .6);
        transition: background-color .2s;
    }
    &:hover::after {    
        background-color: rgba(255, 255, 255, 0);
        
    }
}
.block-item4 {
    margin: 4px 4px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
    width: 313px;
    height: 136px;
    background: url("/edem/assets/images/item4.png") no-repeat center / cover;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .6);
        transition: background-color .2s;
    }
    &:hover::after {    
        background-color: rgba(255, 255, 255, 0);
        
    }
}
.block-item5 {
    margin: 4px 4px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
    width: 133px;
    height: 293px;
    background: url("/edem/assets/images/item5.png") no-repeat center / cover;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .6);
        transition: background-color .2s;
    }
    &:hover::after {    
        background-color: rgba(255, 255, 255, 0);
        
    }
}
.block-item6 {
    margin: 4px 4px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
    width: 133px;
    height: 293px;
    background: url("/edem/assets/images/item6.png") no-repeat center / cover;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .6);
        transition: background-color .2s;
    }
    &:hover::after {    
        background-color: rgba(255, 255, 255, 0);
        
    }
}
.block-item7 {
    margin: 4px 4px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
    width: 313px;
    height: 136px;
    background: url("/edem/assets/images/item7.png") no-repeat center / cover;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .6);
        transition: background-color .2s;
    }
    &:hover::after {    
        background-color: rgba(255, 255, 255, 0);
        
    }
}
.block-item8 {
    margin-right: 4px;
    margin-top: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
    width: 155px;
    height: 155px;
    background: url("/edem/assets/images/item8.png") no-repeat center / cover;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .6);
        transition: background-color .2s;
    }
    &:hover::after {    
        background-color: rgba(255, 255, 255, 0);
        
    }
}
.block-item9 {
    margin-right: 4px;
    margin-top: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
    width: 155px;
    height: 155px;
    background: url("/edem/assets/images/item9.png") no-repeat center / cover;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .6);
        transition: background-color .2s;
    }
    &:hover::after {    
        background-color: rgba(255, 255, 255, 0);
        
    }
}
.block-item10 {
    margin-right: 4px;
    margin-top: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
    width: 133px;
    height: 295px;
    background: url("/edem/assets/images/item10.png") no-repeat center / cover;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .6);
        transition: background-color .2s;
    }
    &:hover::after {    
        background-color: rgba(255, 255, 255, 0);
        
    }
}
.block-item10 {
    margin-right: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
    width: 133px;
    height: 294px;
    background: url("/edem/assets/images/item10.png") no-repeat center / cover;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .6);
        transition: background-color .2s;
    }
    &:hover::after {    
        background-color: rgba(255, 255, 255, 0);
        
    }
}