.design__container
    img.content__close-design(src="/assets/images/close-black.svg")
    .design__title-up
        img(src="/assets/images/logoaf.svg")
        .design__title--af Alliance Francaise
        .design__description Moscow Dental Clinic 
    img.design__img(src="/assets/images/af1.jpg")
    img.design__img(src="/assets/images/af2.jpg")
    img.design__img(src="/assets/images/af3.jpg")
    img.design__img(src="/assets/images/af4.jpg")
    img.design__img(src="/assets/images/af5.jpg" style="margin: -20px; padding-left: 3px;")
script.
    $(".content__close-design").click(function(){
        var ajx=$.ajax({
            url: "/cases/list.html",
            cache: false,
            success: function(html){
                $(".content__right__list").html(html);
            }
        });       
    });

    $(".content__close-design").click(function(){
        $(".content__close-black").css({"display":"block"});
    });