doctype html
html
    include ./head
    body
        .content
            a(href="#").content__left
                - var classes = ['btn', 'glitch']
                div(class=classes)
                    span WEB
                    span WEB
                    span WEB
            a(href="#").content__right
                    p.linear-wipe Design