doctype html
html
    include ./head
    body
        .content
            img.content__close--white(src="/assets/images/close-white.svg")
            img.content__close--black(src="/assets/images/close-black.svg")
            .content__left
                - var classes = ['content__left--text', 'glitch']
                h1(class=classes)
                    span Web
                    span Web
                    span Web
                .content__left--list
                    a(href="/cases/spirit8" target="_blank") Spirit8
                    a(href="/cases/resume" target="_blank") Resume
                    a(href="/cases/hebrew" target="_blank") Hebrew
                    a(href="/cases/ali-sayed" target="_blank") Ali Sayed
            .content__right
                    h1.content__right--text Design
                    .content__right--list
                        a.content__right--st Stomservice
                        a.content__right--af Alliance Francaise
                        a.content__right--dp Dental +
                        a.content__right--ui UI
                        a.content__right--lg Logotypes