doctype html
html(lang="en")
    include ./head
    body
        .content
            img.content__close--white(src="/assets/images/close-white.svg")
            img.content__close--black(src="/assets/images/close-black.svg")
            .content__left
                - var classes = ['content__left--text', 'glitch']
                h1(class=classes)
                    span Web
                    span Web
                    span Web
                .content__left--list
                    a(href="https://tickets-service.firebaseapp.com" target="_blank" rel="noopener") Ticket-Service
                    a(href="https://bookstore-redux.firebaseapp.com/" target="_blank" rel="noopener") Bookstore
                    a(href="/cases/spirit8/" target="_blank" rel="noopener") Spirit8
                    a(href="/cases/resume/" target="_blank" rel="noopener") Resume
            .content__right
                    h1.content__right--text Design
                    .content__right--list
                        a.content__right--st Stomservice
                        a.content__right--od ODRI
                        a.content__right--af Alliance Francaise
                        a.content__right--dp Dental +
                        a.content__right--ui UI
                        a.content__right--lg Logotypes
                        a.content__right--ot Others
            .content__contacts
                .content__open
                    a(href="mailto:raevsanton@gmail.com")
                        img(src="/assets/images/email.svg")
                    a(href="//t.me/raevsanton" target="_blank")
                        img(src="/assets/images/telegram.svg")
                    a(href="//www.linkedin.com/in/raevsanton/" target="_blank") 
                        img(src="/assets/images/linkedin.svg")
                    img(src="/assets/images/profile.svg")

