.design__container
    img.content__close--design(src="/assets/images/close-black.svg")
    .design__title--up.animated.fadeInDown
        .design__svg
            img.design__img.animated.fadeInUp(src="/assets/images/mango1.svg" style="width: 200px")
    img.design__img.animated.fadeInUp(src="/assets/images/mango1.jpg")
    .design__title--up.animated.fadeInDown
    .design__svg
        img.design__img.animated.fadeInUp(src="/assets/images/teplomatica.svg" style="width: 280px")
    img.design__img.animated.fadeInUp(src="/assets/images/teplomatica.jpg")
script.
    $(".content__close--design").click(function(){
        var ajx=$.ajax({
            url: "/cases/list.html",
            cache: false,
            success: function(html){
                $(".content__right--list").html(html);
            }
        });       
    });

    $(".content__close--design").click(function(){
        $(".content__close--black").css({"display":"block"});
    });