.design__container
    img.content__close--design(src="/assets/images/close-black.svg")
    .design__title--up.animated.fadeInDown
        img(src="/assets/images/logoOd.svg")
        h2.design__title--af ODRI
        p.design__description Fashion Internet Store
    img.design__img.animated.fadeInUp(src="/assets/images/od1.jpg")
    video(autoplay loop controlsList="nofullscreen nodownload" style="margin-top:50px")
        source(src="/assets/images/odri.mp4" type="video/mp4")
    img.design__img--border(src="/assets/images/od2.jpg" style="margin-top:50px")
    img.design__img--border(src="/assets/images/od3.jpg" style="margin-top:50px")
    img.design__img--border(src="/assets/images/od4.jpg" style="margin-top:50px")
    video.design__video(autoplay loop controlsList="nofullscreen nodownload")
        source(src="/assets/images/mobile3.mp4" type="video/mp4")
script.
    $(".content__close--design").click(function(){
        var ajx=$.ajax({
            url: "/cases/list.html",
            cache: false,
            success: function(html){
                $(".content__right--list").html(html);
            }
        });       
    });

    $(".content__close--design").click(function(){
        $(".content__close--black").css({"display":"block"});
    });