.design__container
    img.content__close--design(src="/assets/images/close-black.svg")
    .design__title--up.animated.fadeInDown
        img(src="/assets/images/sslogo.svg")    
        h2.design__title--af Stomservice
        p.design__description Dental Clinic in Russia
    img.design__img.animated.fadeInUp(src="/assets/images/ss1.jpg")
    img.design__img(src="/assets/images/ss2.jpg")
    img.design__img(src="/assets/images/ss3.jpg")
    video(autoplay loop controlsList="nofullscreen nodownload")
        source(src="/assets/images/stvideo.mp4" type="video/mp4")
        source(src="/assets/images/stvideo.webm" type="video/webm")
    video(autoplay loop controlsList="nofullscreen nodownload" style="padding-top:100px")
        source(src="/assets/images/docs.mp4" type="video/mp4")
        source(src="/assets/images/docs.webm" type="video/webm")
    img.design__img(src="/assets/images/ss4.jpg")
    img.design__img(src="/assets/images/ss5.jpg")
    .design__wrp
        video(autoplay loop style="width: 300px; margin: 0;")
            source(src="/assets/images/mobile.mp4" type="video/mp4")
            source(src="/assets/images/mobile.webm" type="video/webm")
        img.design__img(style="width: auto" src="/assets/images/ss-mobile.jpg")
script.
    $(".content__close--design").click(function(){
        var ajx=$.ajax({
            url: "/cases/list.html",
            cache: false,
            success: function(html){
                $(".content__right--list").html(html);
            }
        });       
    });

    $(".content__close--design").click(function(){
        $(".content__close--black").css({"display":"block"});
    });