.about
    .container
        .about-content
                .about-text
                    p.blue-h1 О нас                       
                        p.about__block-description Салон ритуальных услуг «Эдем» помогает на достойном уровне провести церемонию прощания с усопшим и навсегда увековечить память о нем. Если Ваш дом настигла беда, Вы можете обратиться к нам. Специалисты салона избавят Вас от забот, связанных с проведением похорон, в том числе с оформлением документов, поиском места на кладбище, организацией поминок и других мероприятий. Кроме того, при необходимости будет оказана психологическая помощь.
                        p.about__block-description Ритуальные услуги в каждом случае имеют свою стоимость, которая зависит от многих факторов. Всю необходимую консультацию Вам предоставят наши агенты, которые работают круглосуточно.
                        p.about__block-description Организация похорон включает в себя несколько процедур. Обо всех мероприятиях позаботятся представители нашего салона. Это позволит проводить умершего в последний путь в соответствии с принятыми традициями.
                        p.about__block-description Мы оформим документы, касающиеся предоставления места на кладбище. Также будет проведена санитарная обработка тела усопшего, которая полагается в таких случаях. Специалисты салона помогут в подборе гроба и одежды для покойного. Помимо этого, будут выбраны ритуальные венки. Перечисленные мероприятия позволят подготовиться к церемонии прощания.
                .about-flex
                    .about-form
                        p.h-form Нужна консультация?
                        .form
                            form.form-name(action="form.php")
                                input.name(type="text" placeholder="Ваше имя" required)
                                input.tel(type="tel" placeholder="Телефон" required)
                                button.btn-form Отправить
                                p.form-text14 Или позвоните по телефону:
                                a.form-telephone(href="tel:+79272703773") +7 (9272) 703-773
                                p.form-text14 При обращении в скорую помощь, милицию, поликлинику для констатации смерти информация (адрес умершего) может стать доступной незнакомым Вам людям, которые в дальнейшем могут предлагать некачественные и дорогостоящие ритуальные услуги.
                                p.form-text16 Не торопитесь соглашаться на сомнительное предложение! Обращайтесь в похоронные организации самостоятельно!
                    .about-img    
                        img(src="/edem/assets/images/about.png")
