.addition
    .container-addition
            .addition-item1
                a(href="/").add-btn Ограды
                img.add-image1(src="/edem/assets/images/2.png")
            .addition-item2
                a(href="/").add-btn Памятники
                img.add-image2(src="/edem/assets/images/3.png")