.img-header {
    width: 908px;
    background-image: url("/ali-sayed/assets/images/1.png");    
}
.block-header {
    width: 458px;
    height: 715px;
    padding-left: 53px;
    padding-top: 53px;
}
.wrapper {
    display: flex;
}
.line {
    width: 33px;
    height: 3px;
    background-color: #3a4245;
    margin-top: 10px;
}
.block-h {
    margin-top: 75px;
}
.h1 {
    color: #262f32;
    font: 40px $font4;
    line-height: 1.5;
}
.h2 {
    color: #262f32;
    font: 40px $font3;
    line-height: 1.5;
}
.h3 {
    color: #fff;
    font: 45px $font2;
}
.h4 {
    color: #fff;
    font: 42px $font2;
    margin-top: 34px;
}
.block-text {
    margin-top: 34px;
}
.text {
    color: #262f32;
    font: 18px $font1;
    letter-spacing: 0.539px;
    line-height: 31.998px;
}