* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
  user-select: none;
  font-weight: unset; }

html,
body {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #404040; }

a {
  text-decoration: none; }

img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: none;
  background: no-repeat center center;
}

.active {
  display: block;
}

input {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 50px;
  font-size: 21px;
  text-align: center;
}

button {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 100px;
  margin-top: 20px;
}